rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rare_syndromes/{doc} {
      allow read;
    }
  }
}
